
@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista</h2>


<div>
    <div>
        @Html.Action("KategorieMenu")
        </div>
    </div>
<!--DOT_Partial_Invoke-->
        @Html.Partial("_PrzedmiotyList")
</div>
 
</div>