@{
    ViewBag.Title = "Strona główna";
}
<div class="btn-group btn-group-justified">
    
    <a href="#" class="btn btn-primary">Ogród</a>
    <a href="#" class="btn btn-primary">Motoryzacja</a>
    <a href="#" class="btn btn-primary">Kultura</a>
    <a href="#" class="btn btn-primary">Sztuka</a>
    <a href="#" class="btn btn-primary">Dom</a>
    <a href="#" class="btn btn-primary">Hobby</a>
</div>
