@model DOT.NET.ViewModels.HomeViewModel
@using DOT.NET.OwnHelpers
@{
    ViewBag.Title = "Strona główna";
}
<div class="btn-group btn-group-justified">
    @foreach (var kategoria in Model.Kategorie)
    {
        <!-- own helper used-->
        <img src=@Url.IkonyKategoriSciezka(kategoria.NazwaPlikuIkony)>
        <a href="@Url.Action("Lista", "Przedmioty", new { nazwaKategori = kategoria.NazwaKategorii.ToLower() })">@kategoria.NazwaKategorii</a>
     }
  
</div>


<section>

    <ul>
        @foreach (var nowosc in Model.Nowosci)
        {
        <li>
            <h1>@nowosc.Nazwa - @nowosc.Producent</h1>
            <img src=@Url.ObrazekSciezka(nowosc.NazwaPlikuObrazka)/>

        </li>
        }

    </ul>

</section>
